@model project_2564.Models.Table
@{
    ViewData["Title"] = "Add Table";
}
</br>
<form method="POST">
    <div class="container border" style="padding: 30px; background-color: white;">
        <div class="form-group row pt-3">
            <h1 class="text-info"><i class="fas fa-hammer"></i> เพิ่มโต๊ะ</h1>
        </div>
        <div class="form-group row">
            <div class="col-md-4">
                <label>ชื่อโต๊ะ</label>
                <input type="text" class="form-control" name="name">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-4">
                <label>ขนาด</label>
                <input type="text" class="form-control" name="size">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-2">
                <button type="submit" class="btn btn-success btn-block">เพิ่ม</button>
            </div>
        </div>
    </div>
</form>
